.emailList{
    flex: 1;
    overflow: scroll;
}

.emailList_settings{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 9999;
    padding-right: 10px;
}

.emailList_sections{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 9999;
}

.emailList_settingsRight{
    margin-right: 15px;
    padding-top: 10px;
}